name: Perl CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl: ['5.42.0']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          install-modules-with: cpanm
          enable-modules-cache: true

      - name: Install dependencies
        run: |
          cpanm --notest ExtUtils::MakeMaker
          perl Makefile.PL
          make installdeps

      - name: Build
        run: |
          perl Makefile.PL
          make

      - name: Run tests
        run: make test
