name: Perl CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl: ['5.42.0']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          install-modules-with: cpanm
          enable-modules-cache: true

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            mysql-server \
            mysql-client \
            libmysqlclient-dev

      - name: Install and Build
        run: |
          cpanm --notest ExtUtils::MakeMaker
          perl Makefile.PL
          make
          make install

      - name: Run tests
        run: make test